{% extends 'base.html' %}
{% block content %}
    <h1>MusicMemories List</h1>
    {% for i in music %}
        <div class="card">
            <a href="{% url 'detail' i.id %}">
                <div class="card-content">
                    <span class="card-title">{{ i.user }}</span>
                    <p>{{ i.date_created }}</p>
                    <p>Artist: {{ i.artist }}</p>
                    <p>Album: {{ i.album }}</p>
                    <p>Song: {{ i.song }}</p>
                    <p>Genre: {{ i.genre }}</p>
                  
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}