{% extends 'base.html' %}
{% block content %}
<h1 class="page-title">Entry Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ music.date_created }}</span>
                <p>Song: {{ music.song }}</p>
                <p>Album: {{ music.album }}</p>
                <p>Artist: {{ music.artist }}</p>
                <p>Genre: {{ music.genre }}</p>
                <p>Comments: {{ music.comments }}</p>
                <a href="{{ music.spotify_uri }}">View on Spotify</a>

               
            </div>
            <div class="card-action">
                <a href="{% url 'music_update' music.id%}">Edit</a>
                <a href="{% url 'music_delete' music.id%}">Delete</a>
            </div>
        </div>
        
        {% for photo in music.photo_set.all %}
            <img src="{{photo.url}}" alt="{{music.song}}" class="responsive-img card-panel">
        {% empty %}
            <div class="card-panel teal-text center-align">No Memory Images Uploaded</div>
        {% endfor %}
        <form class="card-panel" action="{% url 'add_photo' music.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br>
            <br>
            <input type="submit" class="btn" value="Upload Photo">
        </form>

    </div>
<!-- markup for adding way listened -->
    <div class="col s6">
        <form action="{% url 'add_listen' music.id %}" method="POST">
            {% csrf_token %}
            {{ listen_form.as_p }}
            <input type="submit" class="btn" value="Add Way Listened">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date Listened</th>
                    <th>Way Listened</th>
                </tr>
            </thead>
            <tbody>
                {% for listen in music.listen_set.all %}
                <tr>
                    <td>{{ listen.date }}</td>
                    <td>{{ listen.get_listening_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<script>
    //Constants
    const dateEl = document.getElementById('id_date');
    const selectEl = document.getElementById('id_listening');

    //Configure the datepicker

    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        default: new Date(),
        setDefault: true,
        autoClose: true,
    });
    

    //Configure the select tag
    M.FormSelect.init(selectEl);
</script>


{% endblock %}