{% extends 'base.html' %}
{% block content %}

{% if object %}
    <h1 class="page-title">Edit <span class="teal-text">{{ object }}</span></h1>
{% else %}
    <h1 class="page-title">Create a MusicMemory</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="btn" type="submit" value="Submit">
</form>

<script>
    var dateEl = document.getElementById('id_date_created');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
</script>

{% endblock %}