{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link id="mystylesheet" rel="stylesheet" href="{% static 'css/light.css' %}" cssLink.typ="MIME">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>MusicMemories</title>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li>
                        <a class="left brand-logo" href="{% url 'home'%}">MusicMemories</a>
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'all_index' %}">View All Entries</a>
                    </li>
                    <li>
                        <a href="{% url 'user_index' %}">View My Entries</a>
                    </li>
                    <li>
                        <a href="{% url 'music_create' %}">Add A Memory</a>
                    </li>
                    
                    <button class="btn btn-light" onclick="swapStyle('../../static/css/light.css')"> <i class="material-icons">wb_sunny</i> </button>
                    <button class="btn btn-dark" onclick="swapStyle('../../static/css/dark.css')"><i class="material-icons">brightness_3</i></button>
                    <!-- <li>
                        <a href="{% static 'css/light.css' %}">Light Mode</a>
                    </li>
                    <li>
                        <a href="{% static 'css/dark.css' %}">Dark Mode</a>
                    </li> -->
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2021 MusicMemories</div>
    </footer>

    <!-- Script attempting DarkMode -->
<script type="text/javascript"> 

    var setTheme = localStorage.getItem('theme')
    console.log('theme', setTheme)
        if (setTheme == null){
            swapStyles(light.css)
        }else{
            swapStyle(setTheme)
        }
     function swapStyle(sheet){
        document.getElementById('mystylesheet').href = sheet
        localStorage.setItem('theme', sheet)
    }
    
    
    
   
    </script>
</body>
</html>