body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

nav, .page-footer {
    background-color: #88acb6;
}

footer{
    padding-top: 0;
    padding-right: 5px;
    text-align: right;
}

.home{
    text-align: center;
}

.page-title {
    font-size: 42px;
    color: white;
    background-color: #88acb6;
    box-shadow: 5px 5px lightsteelblue;
    text-align: center;
}

main.container {
    width: 90vw;
}

div.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 400px;
    display: inline-block;
}

img.card {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-top: 0px;
}

img.logo {
    height: 75vh;
    margin: 5vh auto 5vh auto;
}

.btn-light{
    background-color: #88acb6;
}

.btn-dark{
    background-color: #1f282b;
}

.btn-light:hover{
    background-color: #a6d2df;
    color: #88acb6;
}

.btn-dark:hover{
    background-color: #42555c;
    color: #1f282b;
}