body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

footer{
    padding-top: 0;
    text-align: right;
    color: black;
}

.home{
    text-align: center;
}

.card {
    width: 400px;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}